.action-section{
    margin: 20px 0px;

}

.white-background{
    background-color: #fff;
    padding: 90px 50px 90px; 
}

.section-title.red-text{
    color: #BD1D1D;
    text-align: center;
    margin-bottom: 100px;
    font-size: 40px;;
    text-transform: uppercase;
}

.actions-content{
    max-width: 75%;
    margin: 0 auto 100px;;
    display: flex;
    justify-content: center;
    flex-flow: wrap;

}
.actions-item{
    &:nth-child(1){
        background-color: #F17F7F;
    }
    &:nth-child(2){
        background-color: #ED494A;
    }
    &:nth-child(3){
        background-color: #EE3834;
    }
    &:nth-child(4){
        background-color: #CD302B;
    }
    &:nth-child(5){
        background-color: #9B211E;
    }
    border-radius: 100%;
    width: 154px!important;
    height: 154px!important;
    display: flex;;
    /* background-color: #BD1D1D; */
    justify-content: center;
    color: #fff;
    margin-bottom: 15px;
    
    align-items: center;
    flex-direction: column;

    margin: 15px 30px;
}
.sale-size{
    font-size: 43px;  
    margin-bottom: 8px;
    font-weight: 800;  
}
.sale-sum{
    font-size: 24px;
    line-height: 0.8;
    font-weight: 200;
}
.sale-val{
    font-size: 24px;
    line-height: 0.8;
}

.action-sub{
    color: #BD1D1D;
    font-size: 36px;
    text-align: center;
}


@media screen and (max-width: 1600px){
    .actions-content {
        max-width: 83%;
    }
    .actions-item {
        border-radius: 100%;
        width: 120px!important;
        height: 120px !important;
        margin: 14px 15px;
    }
    .sale-size {
        font-size: 34px;
    }
    .sale-sum {
        font-size: 20px;
    }
    .sale-val {
        font-size: 19px;
    }
}


@media screen and (max-width: 1200px){
    .section-title.red-text{
        line-height: 1;
        font-size: 32px;
        margin-bottom: 30px;;
    }
    .actions-item {
        width: 100px!important;
        height: 100px!important;
        margin: 15px 10px;
    }
    .sale-size {
        font-size: 24px;
    }
    .sale-sum, .sale-val {
        font-size: 18px;
    }

    .action-sub{
        font-size: 30px;;
    }
}




@media screen and (max-width: 860px){
    .white-background {
        background-color: #fff;
        padding: 40px 10px 40px;
    }
    .section-title.red-text{
        line-height: 1;
        font-size: 20px;
        margin-bottom: 25px;;
    }
    .actions-item {
        width: 60px!important;
        height: 60px!important;
        margin: 15px 5px;
    }
    .sale-size {
        font-size: 16px;
        margin-bottom: 3px;
    }
    .sale-sum, .sale-val {
        font-size: 13px;
    }
    .actions-content {
        max-width: 100%;
        margin: 0 auto 20px;
    }
    .action-sub{
        font-size: 20px;;
    }
}

@media screen and (max-width: 400px){
    .actions-item {
        width: 50px!important;
        height: 50px!important;
        margin: 15px 5px;
    }
    .sale-size {
        font-size: 15px;
        margin-bottom: 3px;
    }
    .sale-sum, .sale-val {
        font-size: 11px;
    }

}
